.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#scale-overlay {
  position: absolute;
  top: 0;
  right: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

g {
  pointer-events: all;
  cursor: pointer;

  &:hover {

    > .rect-hover-padding {
      opacity: 0.5;
    }

    > .line-hover-padding {
      stroke-opacity: 0.5;
    }
  }
}