<table id="top">
  <tr>
    <td>
      <h2>Mermaid input</h2>
      <textarea [(ngModel)]="mermaidText"></textarea>
    </td>
    <td>
      <button class="loadButton" *ngFor="let alg of layerNumberAlgorithms" (click)="loadMermaid(alg.key)">
        Load with {{ alg.value }} algorithm
      </button>
    </td>
    <td>
      <table id="values">
        <tr>
          <td>
            <div>
              <app-dimensions-editor (dimensionsEdited)="onNewDimensions($event)" />
              <div id="numCrossingLines">Num crossing lines: {{ numCrossingLines }}</div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table id="bottom">
  <tr>
    <td>
      <h2>Sequence editor</h2>
      <div class="boundary">
        <app-sequence-editor
          [model]="layoutModel"
          [selection]="selectionInModel"
          [itemClickedObservable]="itemClickedSubject"
          (newSequenceEstablished)="onSequenceEditorChanged()"
        ></app-sequence-editor>
      </div>
    </td>
    <td id="drawing">
      <table id="above-drawing">
        <tr>
          <td id="labelShowNodeText">Show node text:</td>
          <td><input type="checkbox" [checked]="showNodeTextInDrawing" (click)="newChoiceShowNodeText()" /></td>
        </tr>
      </table>
      <div id="drawing-area" class="boundary">
        <app-frank-flowchart
          id="frankFlowChart"
          [drawing]="drawing"
          (shapeClicked)="onItemClicked($event)"
        ></app-frank-flowchart>
      </div>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <h2>Static SVG</h2>
      <app-calculated-static-svg [show]="SHOW_IMAGE" [mermaid]="committedMermaidText" />
    </td>
    <td id="staticSvgText">
      <h2>Statistics</h2>
      <app-static-svg-statistics [mermaid]="committedMermaidText" />
      <h2>Static SVG text</h2>
      <app-calculated-static-svg [show]="SHOW_TEXT" [mermaid]="committedMermaidText" />
    </td>
  </tr>
</table>
