<div>
  <div>
    <button (click)="bestSequence()">Best sequence</button>
  </div>
  <br />
  <div id="tabs">
    @for (tab of TABS; track tab) {
      <button
        class="tab"
        [class.selected]="activeTab === tab.id"
        id="tab.id"
        (click)="selectTab(tab.id)"
        >
        {{ tab.caption }}
      </button>
    }
  </div>
  @if (activeTab === 'MANUAL') {
    <div>
      <div id="showTextContainer">
        <label>Show node text</label><input type="checkbox" [checked]="showText" (click)="onNewCaptionChoice()" />
      </div>
      @if (manualView.header.length > 0) {
        <table cdkDropList (cdkDropListDropped)="drop($event)">
          <thead>
            <th></th>
            @for (headerCell of manualView.header; track headerCell) {
              <th
                [ngClass]="getManualClass(headerCell)"
                (click)="selectNode(headerCell.position)"
                >
                {{ headerCell.nodeId === null ? '\<empty\>' : headerCell.nodeId }}
              </th>
            }
          </thead>
          @for (row of manualView.body; track row) {
            <tr cdkDrag>
              <th [ngClass]="getManualClass(row.header)">
                @if (row.header.nodeId === null) {
                  <div class="row-header-omitted">
                    <select (change)="reintroducePulldownSelect($event, row.header.position)" cdkDragHandle>
                      <option></option>
                      @for (option of row.header.fillOptions; track option) {
                        <option>{{ option }}</option>
                      }
                    </select>
                  </div>
                }
                @if (row.header.nodeId !== null) {
                  <div class="row-header-present">
                    <div cdkDragHandle>{{ row.header.nodeId }}</div>
                    <button (click)="omit(row.header.position)">X</button>
                  </div>
                }
              </th>
              @for (cell of row.cells; track cell) {
                <td
                  [ngClass]="getManualClass(cell)"
                  (click)="selectCell(cell.fromPosition, cell.toPosition)"
                  >
                  <div [ngClass]="getCellClass(cell)" (click)="selectCell(cell.fromPosition, cell.toPosition)"></div>
                </td>
              }
            </tr>
          }
        </table>
      }
      @if (manualView.header.length === 0) {
        <div class="placeholder">No Mermaid loaded yet</div>
      }
    </div>
  }
  @if (activeTab === 'ALGORITHM') {
    <div id="algorithm">
      <table>
        <tr>
          <td>Omitted nodes:</td>
          <td id="algorithmOmittedNodes">{{ algorithmView.omittedNodes }}</td>
        </tr>
        <tr>
          <td>Est. #crossings</td>
          <td>{{ algorithmView.numCrossings }}</td>
        </tr>
      </table>
      @if (algorithmView.layers.length === 0) {
        <div>No Mermaid loaded yet</div>
      }
      @if (algorithmView.layers.length >= 1) {
        <table>
          <thead>
            <th># layer</th>
            <th># nodes</th>
            <th>Align from layer</th>
          </thead>
          @for (layer of algorithmView.layers; track layer) {
            <tr [ngClass]="getBackgroundClass(layer)">
              <th>{{ layer.layerNumber }}</th>
              <td>{{ layer.numNodes }}</td>
              <td>
                <button
                  [ngClass]="layer.numCrossingsChangeByAligningFromJudgement"
                  (click)="onAlignFromLayer(layer.layerNumber)"
                  >
                  A: {{ layer.numCrossingsChangeByAligningFrom }}
                </button>
              </td>
            </tr>
          }
        </table>
      }
    </div>
  }
</div>
