name: Testing
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  testing:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
      - name: Show pnpm version
        run: pnpm -v
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build project
        run: pnpm run build
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
      - name: Test library
        run: pnpm run ng test frank-config-layout -- --browsers=ChromeHeadless --watch=false
      - name: Test playground
        run: pnpm run ng test frank-config-layout-playground -- --browsers=ChromeHeadless --watch=false
